@page "/auth/password-reset"

@inject NavigationManager _navigationManager

<div class="card shadow p-4">
    <h3>Password Reset</h3>

    <div class="mb-2">
        <p>Not yet implemented</p>
    </div>

    <div class="mb-2">
        <button class="btn btn-secondary btn-sm" @onclick="GoBack">Back</button>
    </div>
</div>
@code {
    private void GoBack()
    {
        _navigationManager.NavigateTo("/auth/login");
    }
}
