@page "/map/events"

@inject NavigationManager _navigationManager

<div class="card shadow p-4">
    @* Section: Page Header *@
    <h3>Event Map</h3>

    @* Section: Placeholder Content *@
    <div class="mb-2">
        <p>Not yet implemented</p>
    </div>

    @* Section: Navigation *@
    <div class="mb-2">
        <button class="btn btn-dark btn-sm" @onclick="HomePage">Home Page</button>
    </div>
</div>
@code {
    private void HomePage()
    {
        _navigationManager.NavigateTo("/");
    }
}