@page "/map/events"

@inject NavigationManager _navigationManager
<link rel="stylesheet" href="/_content/CleanUps.MAUI.Shared/leaflet/leaflet.css" />
<script src="/_content/CleanUps.MAUI.Shared/leaflet/leaflet.js"></script>
@* jquery *@
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<div class="container-fluid p-0">
    <div class="row g-0">
        <div class="col">
            <div id="lf-map" style="width:100%;height:75vh"></div>
        </div>
    </div>
</div>

<script src="/_content/CleanUps.MAUI.Shared/js/mapEvents.js"></script>