@page "/users/create"
@inject NavigationManager _navigationManager

@if (CurrentUserRole == RoleDTO.Organizer)
{
    <div class="card shadow p-4">

        <h3>Create New User</h3>

        <div class="mb-2 alert alert-danger" role="alert">
            Page under construction
        </div>

        <br />

        <div class="mb-2">
            <p>Please visit <strong>Sign Up</strong> page to create a user</p>
        </div>

        <div class="mb-2">
            <button class="btn btn-primary btn-sm" @onclick="SignUpPage">Sign Up</button>
            <button class="btn btn-secondary btn-sm" @onclick="GoBack">Back</button>
        </div>
    </div>
}
else
{
    <p>Access denied</p>
}
@code {
    private RoleDTO CurrentUserRole = RoleDTO.Organizer;

    private void SignUpPage()
    {
        _navigationManager.NavigateTo("/auth/signup");
    }
    private void GoBack()
    {
        _navigationManager.NavigateTo("/users");
    }
}   